.content {
  padding-top: 25px;
  &__block{
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 3px 7.67px 5.33px rgba(34, 34, 52, 0.22);
    min-height: 500px;
    position: relative;
    h3 {
      font-size: 30px;
      color: #000;
      font-family: 'Raleway ', sans-serif;
      margin: 0;
      position: relative;
      padding-top: 20px;
      text-align: center;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #446365;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        background-color: #446365;
        top: 77px;
        left: 50%;
        transform: translateX(-50%);
      }
      @media (max-width: $screen-sm-min) {
        font-size: 22px;
      }
    }

    .main__content {
      margin-top: 55px;

      h4 {
        font-size: 20px;
        color: #000;
        font-family: 'Raleway ', sans-serif;
        text-align: left;
        margin-bottom: 25px;
        padding-left: 15px;
        @media (max-width: $screen-xs-max){
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
        }
      }

      p {
        margin-bottom: 25px;
        &:last-child{
          margin-bottom: 0;
        }
        @media (max-width: $screen-xs-max){
        padding-left: 0;
        text-align: center;
        }
      }

      img {
          max-width: 100%;
          @media (max-width: $screen-xs-max) {
          float: none !important;
          display: block;
          margin: 0 auto;
        }
        @media (max-width: $screen-xs-max) {
          float: none !important;
          display: block;
          margin: 0 auto !important;
        }
      }
    }
  }
}
br{
  @media (max-width: $screen-xs-max){
    display: none;
  }
}
