.content {
	&__blog {
		background-image: url('../images/home.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		min-height: 433px;
		text-align: center;
		background-color: rgb(137, 137, 137);
		box-shadow: 0 3px 7.67px 5.33px rgba(34, 34, 52, 0.22);
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			background-color: rgb(0, 0, 0);
			opacity: 0.2;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		h4 {
			height: 50px;
			font-size: 36px;
			color: #fff;
			font-family: 'Raleway', sans-serif;
			font-weight: 900;
			margin: 0;
			position: relative;
			z-index: 1;
			padding-top: 45px;
			@media (max-width: $screen-sm-min) {
				font-size: 22px;
			}
		}
	}

	&__more {
		padding-top: 23px;
	}

	&__item {
		background-color: rgb(255, 255, 255);
		box-shadow: 0 3px 7.67px 5.33px rgba(34, 34, 52, 0.22);
		max-width: 100%;
		width: 100%;
		padding-bottom: 65px;
		// min-height: 560px;
		margin-bottom: 37px;
		position: relative;

		a {
			overflow: hidden;
			position: relative;
			display: block;
			width: 100%;
			height: 272px;

			span {
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				height: 272px;
				left: 0;
				right: 0;
				transform: scale(1);
				transition: all 1s ease-out;
			}
		}
	}

	&__link {
		padding: 0 25px 25px;

		h4 {
			height: 65px;
			text-align: center;
			font-size: 22px;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			margin: 0;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				width: 80px;
				height: 1px;
				background-color: #446365;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				@media (max-width: $screen-xs-max) {
					top: 60px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				width: 60px;
				height: 1px;
				background-color: #446365;
				top: 110%;
				left: 50%;
				transform: translateX(-50%);
				@media (max-width: $screen-xs-max) {
					top: 55px;
				}
			}
			@media (max-width: $screen-xs-min) {
				font-size: 16px;
			}

			span {
				position: relative;
				display: block;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		p {
			font-size: 15px;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			margin: 0;
			padding-top: 25px;
			height: 145px;
			overflow: hidden;
			@media (max-width: $screen-sm-max) {
				font-size: 15px;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 13px;
			}
			@media (max-width: $screen-xs-max) {
				padding-top: 10px;
			}
		}

		a {
			// position: absolute;
			font-size: 16px;
			color: #446365;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			text-decoration: none;
			text-align: center;
			line-height: 40px;
			width: 150px;
			height: 41px;
			border: 1px #446365 solid;
			// bottom: 20px;
			// right: 20px;
			float: right;
			margin-top: 25px;

			&:hover {
				background-color: #446365;
				color: #fff;
				transition: all 0.3s;
			}
		}
	}

	&__block {
		background-color: rgb(255, 255, 255);
		box-shadow: 0 3px 7.67px 5.33px rgba(34, 34, 52, 0.22);
		min-height: 520px;
		margin-bottom: 40px;
		@media (max-width: $screen-md-max) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	&__items {
		max-width: 319px;
		width: 100%;
		height: 451px;
		border: 2px #4C6E70 solid;
		display: block;
		margin: 20px auto 0;
		padding-top: 22px;
	}

	&__thumbnail {
		padding-top: 25px;
		padding-bottom: 150px;
		width: 139px;
		height: 139px;
		display: block;
		margin: 0 auto;
		text-align: center;

		img {
			width: 100%;
			max-width: 100%;
			width: auto;
		}
	}

	&__links {
		padding: 25px 25px 0;

		h4 {
			text-align: center;
			font-size: 22px;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			margin: 0;
			position: relative;
			height: 48px;

			&:before {
				content: '';
				position: absolute;
				width: 80px;
				height: 1px;
				background-color: #446365;
				top: 55px;
				left: 50%;
				transform: translateX(-50%);
			}

			&:after {
				content: '';
				position: absolute;
				width: 60px;
				height: 1px;
				background-color: #446365;
				top: 60px;
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-width: $screen-xs-min) {
				font-size: 16px;
			}
		}

		p {
			font-size: 16px;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			margin: 0;
			padding-top: 25px;
			height: 145px;
			overflow: hidden;
			@media (max-width: $screen-xs-min) {
				font-size: 13.5px;
				height: 180px;
			}
			@media (max-width: $screen-xs-max) {
				height: 150px;
			}
		}

		a {
			font-size: 16px;
			color: #446365;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			text-decoration: none;
			text-align: center;
			line-height: 40px;
			width: 150px;
			height: 41px;
			border: 1px #446365 solid;
			margin-top: 0;
			float: right;
			// bottom: 20px;
			// right: 20px;
			// position: absolute;
			&:hover {
				background-color: #446365;
				color: #fff;
				transition: all 0.3s;
			}
		}
	}
}
