.contact {
	padding-top: 30px;
	position: relative;
	@media (max-width: $screen-xs-max) {
		padding-top: 10px;
	}

	&__block {
		background-color: #fff;
		top: 20px;
		box-shadow: 0 3px 7.67px 5.33px rgba(34, 34, 52, 0.22);

		h3 {
			font-size: 30px;
			color: #000;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			text-align: center;
			margin: 0;
			padding-top: 15px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				width: 80px;
				height: 1px;
				background-color: #446365;
				top: 55px;
				left: 50%;
				transform: translateX(-50%);
			}

			&:after {
				content: '';
				position: absolute;
				width: 60px;
				height: 1px;
				background-color: #446365;
				top: 60px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.contact {
		padding-top: 50px;

		p {
			font-size: 20px;
			color: #000;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			text-decoration: none;
			transition: all 0.3s;
			padding-top: 30px;
			@media (max-width: $screen-md-max) {
				text-align: center;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 16px;
				padding-top: 10px;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 13px;
			}

			i {
				color: #7FB237;
				padding-right: 15px;
				@media (max-width: $screen-xs-max) {
					display: none;
				}
			}
		}
	}

	&__item {
		position: relative;
		@media (max-width: $screen-xs-max) {
			text-align: center;
			display: block;
		}

		ul {
			padding-left: 40px;
			@media (max-width: $screen-xs-max) {
				padding: 0;
				text-align: center;
			}
			@media (max-width: $screen-xs-min) {
				text-align: center;
				display: inline-block;
				padding-left: 0;
				margin-left: -15px;
				margin-right: -15px;
			}

			li {
				list-style-type: none;
				display: block;

				a {
					font-size: 20px !important;
					color: #000;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					text-decoration: none;
					transition: all 0.3s;
					@media (max-width: $screen-xs-max) {
						font-size: 16px !important;
					}

					&:hover {
						color: #7FB237;
					}
				}
			}

			i {
				font-size: 30px;
				color: #7FB237;
				position: absolute;
				left: 0;
				top: 15px;
				@media (max-width: $screen-xs-max) {
					display: none;
				}
			}
		}

		p {
			font-size: 20px !important;
			color: #000;
			margin-top: 50px;
			padding-left: 40px;
			position: relative;
			@media (max-width: $screen-xs-max) {
				margin-top: 10px;
				margin-left: 0;
			}
			@media (max-width: $screen-sm-max) {
				margin-left: 0;
			}

			.fa-map-marker {
				font-size: 30px;
				color: #7FB237;
				position: absolute;
				left: 0;
				top: -5px;
				@media (max-width: $screen-xs-max) {
					display: none;
				}
				@media (max-width: $screen-sm-max) {
					margin-left: 25%;
				}
				@media (max-width: $screen-md-max) {
					left: 0;
				}
			}
		}
	}

	&__form {
		padding-top: 30px;

		.-forms {
			text-align: right;

			input,
			textarea {
				outline: none;
				font-size: 16px;
				padding-left: 12px;
				font-weight: 400;
				border: 1px #d4d4d4 solid;
				transition: all 0.9s;
				color: #000;

				&:focus {
					box-shadow: 0 0 15px #7FB23D;
					transition: all 0.9s;
				}
			}

			input {
				width: 100%;
				height: 40px;
				margin-bottom: 10px;

				&:first-child {
					@media (max-width: $screen-md-max) {
						margin-right: 0;
						margin-top: 0;
					}
				}
				@media (max-width: $screen-xs-max) {
					margin-bottom: 10px;
				}
			}

			textarea {
				margin-top: 15px;
				max-width: 100%;
				width: 100%;
				min-height: 115px;
				padding: 10px;
			}

			.-btn {
				margin-top: 20px;
				color: #fff;
				border: none;
				background-color: #7FB237;
				width: 150px;
				height: 40px;
				outline: none;
				font-size: 16px;
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				border: 2px transparent solid;
				transition: all 0.3s;
				@media (max-width: $screen-sm-max) {
					float: none;
					display: block;
					margin: 25px auto 0;
				}

				&:hover {
					border: 2px #7FB237 solid;
					background-color: transparent;
					color: #7FB237;
				}
			}
		}
	}

	&__map {
		position: relative;
		width: 100%;
		min-height: 450px;
		margin-top: 40px;

		#map {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}
